---
import { getCollection } from 'astro:content';

import type { CollectionEntry } from 'astro:content';

import Layout from '../layout/Layout.astro';
import Container from '../components/Container.astro';
import Time from '../components/Time.astro';
import Perex from '../components/Perex.astro';
import Tip from '../components/Tip.astro';

import { getSlug } from '../utils/utils';

const data = await getCollection('posts');
const posts: Record<string, CollectionEntry<'posts'>[]> = data.reverse().reduce((all, post) => {
  const slug = getSlug(post.slug);
  const year = post.data.publishedDate.getFullYear();

  return {
    ...all,
    [year]: [
      ...(all[year as keyof typeof all] ?? []),
      {
        ...post,
        slug,
      },
    ],
  };
}, {});
---

<Layout>
  <Container>
    <Perex className="text-emphasized text-cente">
      Hi there! I'm Roman, a software engineer from Slovakia. I enjoy tinkering with the web, discovering new things,
      and an active lifestyle. I work for <a href="https://www.eleveo.com/">Eleveo</a>.
    </Perex>

    <Tip>
      Read more <a href="/about">about me</a> or check <a href="/now">what I'm doing now</a>.
    </Tip>

    <h1>Articles</h1>
    {
      Object.keys(posts)
        .reverse()
        .map((year) => (
          <section>
            <h2>{year}</h2>

            {posts[year].map(({ slug, data: { title, label, publishedDate } }) => (
              <article class="article">
                <div>
                  <a href={`/${slug}`}>{title}</a>
                </div>
                {label && (
                  <div>
                    <span class="pill">{label}</span>
                  </div>
                )}

                <div class="article__date">
                  <Time date={publishedDate} options={{ day: 'numeric', month: 'long' }} class="meta" />
                </div>
              </article>
            ))}
          </section>
        ))
    }
  </Container>
</Layout>
