---
import { Sprite } from 'astro-icon';
import Layout from './Layout.astro';
import Container from '../components/Container.astro';
import Time from '../components/Time.astro';

const { frontmatter } = Astro.props;
const { title, readingTime, githubEdit, publishedDate, slug } = frontmatter;
---

<Layout description={'' /* TODO: */} image={`assets/posts/${slug}.png`} isPost title={title}>
  <Container>
    <article>
      <header class="content__header">
        <h1 class="p-name">{title}</h1>

        <ul class="meta plb-g">
          <li class="meta__item">
            <a href={Astro.url} class="text-secondary u-url">
              <Sprite name="mdi:calendar-month" aria-label="Published" class="text-default" />
              <Time date={publishedDate} />
            </a>
          </li>
          <li class="meta__item">
            <Sprite name="mdi:clock-outline" aria-label="Reading time" class="text-default" />
            {readingTime}
          </li>
          <li class="meta__item">
            <a href={githubEdit} class="text-secondary">
              <Sprite name="mdi:file-document-edit-outline" aria-hidden="true" class="text-default" />
              suggest an edit</a
            >
          </li>
        </ul>
      </header>
      <div class="e-content">
        <slot />
      </div>
      <footer>
        <p class="signature">Roman</p>
      </footer>
    </article>
  </Container>
</Layout>
